$grey: #555555
$dark-grey: #222222
$background: #e8eef7
$grid-blue: #2d5391
$blue: #3a85ff

html
    background-color: $background

#title
    text-transform: uppercase
    font-family: 'Roboto', sans-serif
    font-size: 72px
    line-height: 72px
    color: $grey
    font-weight: bolder
    margin: 10px 15px
    padding: 0

.heading
    font-family: 'Roboto', sans-serif
    font-size: 20px
    line-height: 20px
    margin: 10px 20px
    padding: 0
    color: black
    font-weight: normal
    font-style: italic

.author
    font-family: 'Roboto', sans-serif
    font-size: 16px
    color: black
    line-height: 16px
    margin: 10px 20px

#left-pane
    display: block
    width: 60%
    position: fixed
    left: 0
    top: 0
    margin: 0

    #output-window
        display: block
        width: 420px
        height: 200px
        background-color: $dark-grey
        border-radius: 10px
        margin: 20px 0 0 20px
        overflow: auto

        #output-text
            font-family: 'Courier', monospace
            font-size: 16px
            color: $blue
            line-height: 20px
            text-align: left
            margin: 10px 15px

#right-pane
    display: block
    width: 40%
    position: fixed
    right: 0
    top: 0
    margin: 0

    .grid
        display: inline-block
        background-color: $grid-blue
        font-size: 0
        width: 330px
        border: 1px solid white
        margin: 0 20px

        .space
            display: inline-block
            width: 28px
            height: 28px
            margin: 0
            padding: 0
            border: 1px solid white
            vertical-align: top
            text-align: center

            .label
                font-size: 20px
                color: white
                font-family: 'Roboto', sans-serif
                text-align: center
                line-height: 28px

            .marker
                display: block
                width: 16px
                height: 16px
                border: 2px solid white
                border-radius: 50%
                margin: 4px
                background-color: none

            .miss
                background-color: white

            .hit
                background-color: red
                border: 2px solid red


.grid-title
    text-transform: uppercase
    font-family: 'Roboto', sans-serif
    font-size: 24px
    line-height: 24px
    font-weight: bold
    color: $grey
    margin: 30px 0 10px 20px

.ship-container
    display: inline-block
    text-align: left
    vertical-align: top
    width: 150px
    margin: 0 20px 0 0

    .ships-remaining
        font-family: 'Roboto', sans-serif
        font-size: 18px
        line-height: 18px
        font-weight: normal
        color: black
        margin: 0 0 10px 0

    .ship
        display: inline-block
        max-width: 150px
        background-color: $grey
        border-radius: 10px
        margin: 10px 0
        font-size: 0
        overflow: hidden

        .ship-marker
            display: inline-block
            background-color: none
            margin: 0
            padding: 0
            width: 30px
            height: 20px

        .hit
            background-color: red
